/* CUSTOM SHOP STYLE
-------------------*/

@media (min-width: 50rem) {
    main > section {
        text-align: left;
    }
}

.custom-shop .container {
    padding-block: 0;
}
@media (min-width: 50rem) {
    .container {
        width: min(80%,65rem);
    }
}

.custom-shop__block__text {
    padding: 1.75rem;
}

@media (min-width: 50rem) {
    .grid {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, min-content)
    }
}

/* SHOWCASE STYLE
-----------------*/

.custom-showcase__block {
    margin-top: 1.7rem;
}
.custom-showcase__block__img {
    height: 15rem;
}

@media (min-width: 50rem) {
    .custom-showcase__block__img {
        height: 20rem;
        width: 20%;
    }
}

/* OVERLAY GALLERY STYLE

.overlay-gallery {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}
.x {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 3rem;
    color: white;
}
.overlay-gallery__row {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4,1fr);
}
.stock-img__blue,
.stock-img__green,
.stock-img__sunburst {
    cursor: pointer;
    opacity: .65;
    display: none;
}

.stock-img__blue:hover, 
.stock-img__green:hover, 
.stock-img__sunburst:hover {
    opacity: 1;
}

----------------------*/