@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
    --clr-primary-200: rgba(227,218,186,1);
    --clr-primary-400: rgba(197,175,106,1);
    --clr-primary-600:rgba(159,153,136,1);

    --clr-neutral-200:  rgb(246,246,246);
    --clr-neutral-600: rgba(28,28,28,1);

    --ff-primary: 'Roboto Condensed', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-neutral-200);
    color: rgba(64,64,64,1);
    text-align: center;
    font-family: var(--ff-primary);
    font-weight: 400;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1.35rem;
}

.h2-styled {
    font-weight: normal;
    font-size: 36px;
    opacity: 1;
}
.b,
.lead {
    font-weight: bold;
}
.q {
    font-style: italic;
    font-weight: 200;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--clr-primary-400);
}

/*MENU STYLE
-------------*/

.menu > * {
    margin-left: .5rem;
    color: var(--clr-primary-600);
}
.menu a:hover {
    border-bottom: 2px solid;
}
    .submenu-box {
        display: inline-block;
        position: relative;
    }
    .submenu-btn {
        color: var(--clr-primary-600);
    }
    .submenu {
        display: none;
        position: absolute;
        min-width: 7.5rem;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .submenu a {
        display: block;
        padding: 1rem .5rem;
        font-size: .85rem;
        font-weight: bold;
        color:rgb(116, 111, 111);
    }
    .submenu a:hover {
        background-color: rgb(202, 198, 198);
        border-bottom: none;
    }
    .submenu-box:hover .submenu {
        display: block;
    }
.active {
    border-bottom: 2px solid;
}

/* CONTAINERS AND FLEX STYLE
--------------------------*/

.container {
    width: min(80%,65rem);
    margin: 0 auto;
    padding-block: min(6.5%, 2.35rem);
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.3rem;
}


@media (min-width: 50rem) {
    .flex {
        flex-direction: row;
    }
    .flex > * {
        flex-basis: 100%;
    }
    .flex--reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* GENERAL BACKGROUND STYLES
---------------------------*/

.bg-white {
    background-color: white;
}
.bg-light {
    background-color: var(--clr-neutral-200);
}
.bg-medium {
    background-color: var(--clr-primary-400);
}
.bg-dark {
    background-color: var(--clr-neutral-600);
}
.bg-shadow {
    background: rgba(0,0,0,0.6);
}
.bg-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* IMAGE STYLE 
--------------*/

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

/*BUTTONS STYLE
---------------*/

.btn {
    font-size: 1rem;
    margin-top: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 1em 7rem;
    background-color: white;
    border: 2px solid white;
    color:var(--clr-primary-400);
    font-weight: 500;
}

.btn:hover {
    background-color: var(--clr-primary-400);
    color: white;
}

.hamburger span {
    height: 4px;
    width: 30px;
    margin: 3px 0px;
    background-color: black;
    border-radius: 2px;
    display: block;
}

/* NAVBAR STYLE
--------------*/

.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    z-index: 10;
}
.navbar .container {
    position: relative;
    width: min(97.5%,65rem);
}
.menu {
    margin-top: 1.5rem;
}
.separator {
    display: none;
}
@media (min-width: 50rem) {
    .menu,
    .separator {
        font-size: 1.15rem;
        display: inline-block;
    }
}

/* LANGUAGE SELECTOR STYLE
-------------------------*/

.lang-selector {
    position: absolute;
    top: 1.5rem;
    right: 0;
}   

/* FOOTER STYLE 
--------------*/

.home-footer__block h2 {
    color: var(--clr-primary-400);
}
.home-footer__block li {
    color: white;
}