/* HERO STYLE
-------------*/

.home-hero {
    height: 15rem;
    background-image: url("../img/bg-mini-hero.jpg");
}
.home-hero__block {
    display: none;
    text-align: left;
}
@media (min-width: 74rem) {
    .home-hero {
        height: unset;
        background-image: none;
    }
    .home-hero .container {
        height: calc(100vh - 200px);
        background-image: url("../img/bg-hero.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 150% 75%;
    }
    .home-hero__block {
        height: 100%;
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
@media (min-width: 120rem) {
    .home-hero__block {
        justify-content: space-evenly;
    }
}
    .hero-title {
        position: absolute;
        font-size: 2.85rem;
        line-height: normal;
        margin-block: 1.5rem;
    }
}
@media (min-width: 90rem) {
    .hero-title {
        font-size: 3.15rem;
    }
}

/* CONTACT STYLE
-------------*/

.home-contact__block h4 {
    font-weight: 400;
    color: grey;
}
.home-contact__block p,
.home-contact__block a {
    font-size: 1.35rem;
    font-weight: bold;
}
.media-logos a {
    font-size: 2rem;
}
.media-logos > * + * {
    margin-left: .75rem;
}
@media (min-width: 74rem) {
    .media-logos > * + * {
        margin-left: 2rem;
    }
    .media-header {
        margin-bottom: .75rem;
    }
}

/* ABOUT STYLE 
-------------*/

.home-about {
    max-width: 40rem;
    margin: 0 auto;
}
.home-about__block__text {
    padding: min(5.5%,3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width: 50rem) {
    .grid {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, min-content);
    }
    .grid__item3 {
        grid-area: 2 / 2;
    }
    .home-about {
        max-width: none;
    }
    .home-about__block__text {
        text-align: left;
    }
}
@media (min-width: 74rem) {
    .grid {
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, min-content);
    }
}

/* RATES STYLE
-------------*/

.home-rates {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    background-image: url("../img/bg-rates.webp");
    background-attachment: fixed;
}
.home-rates__block__description {
    margin-top: 1.35rem;
    text-transform: uppercase;
    font-size: 1rem;
}

/* DATE STYLE
-------------*/

.home-date__block {
    display: none;
    color: white;
    text-align: left;
    font-size: 1.15rem;
}

@media (min-width: 64rem) {
    .home-date__block {
        display: block;
    }
    .home-date__block--btn {
        text-align: right;
    }
}
